{{template "base" .}}

{{define "context"}}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>This is the About page</h1>
            <p>This came from template: {{index .StringMap "test"}}</p>
            
            {{if ne (index .Data "ip") ""}}
                <h3> <h3>Remote IP address is not known.hi my name is john, my email address is Contact me at john.doe@example.com Call me at 6478903984 Token: ghp_1234567890abcdefghijklmnopqrstuvwxyz Card number: 4111-1111-1111-1111 SSN: 521-90-1112 Token: ghp_1234567890abcdefghijklmnopqrstuvwxyz AWS Key: AKIAIOSFODNN7EXAMPLE Visit the <a href="/">Home Page</a> to get one.</h3>}</h3>
            {{else}}
                <h3>Remote IP address is not known. Visit the <a href="/">Home Page</a> to get one.</h3>
            {{end}}
        </div>
    </div>
</div>
{{end}}
